:root {

  /* STARTER */
  --starter-logo-height: 23.13vh;
  --starter-logo-top: 6.87vh;

  --starter-angel-height: 75vh;
  --starter-angel-top: 8.89vh;
  --starter-angel-left: 15vw;

  --starter-goat-height: 45vh;
  --starter-goat-top: 10vh;
  --starter-goat-left: 40vw;


  /* HELL CIRCLES */

  --leave-width: 43.8%;
  --leave-top: 35vh;

  --hope-width: 80.2%;
  --hope-top: 28vh;

  --someone-width: 35.9%;
  --someone-top: 12.5vh;

  --here-width: 54.6%;
  --here-top: 19vh;

  --entering-width: 63.5%;
  --entering-top: 20vh;

  --first-circle-width: 4;
  --first-circle-move: 35%;

  --second-circle-width: 2.4;
  --second-circle-move: 28%;

  --third-circle-width: 1.9;
  --third-circle-move: 23%;

  --fourth-circle-width: 1.65;
  --fourth-circle-move: 19.7%;

  --fifth-circle-width: 1.06;
  --fifth-circle-move: 2.9%;

  --sixth-circle-width: 1.06;
  --sixth-circle-move: 2.8%;

  --seventh-circle-width: 1.06;
  --seventh-circle-move: 2.8%;

  --eighth-circle-width: 1.06;
  --eighth-circle-move: 2.8%;

  --nineth-circle-width: 1.06;
  --nineth-circle-move: 2.8%;
}

@import "reset.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
} */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* STARTER */

.starter {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 1000px;
}

.starter-intro {
  width: 100%;
}

#starter-logo {
  height: var(--starter-logo-height);
  position: absolute;
  display: block;
  width: 100%;
  left: auto;
  right: auto;
  top: var(--starter-logo-top);
  z-index: 3;
}
#starter-goat {
  height: var(--starter-goat-height);
  position: absolute;
  display: block;
  width: auto;
  left: auto;
  right: auto;
  top: var(--starter-goat-top);
}
#starter-angel {
  height: var(--starter-angel-height);
  position: absolute;
  display: block;
  width: 400px;
  left: var(--starter-angel-left);
  top: var(--starter-angel-top);
}



#starter-tarot-moon {
  display: none;
}
#starter-tarot-dihotomia {
  display: none;
}
#starter-tarot-boyfriend {
  display: none;
}

/* HELL */

.hell {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  background-color: red;
}

.hell div {
  scroll-snap-align: start;
}

/* HELL WELCOME SIGN */

.hell-leave-section {
  padding-top: 33.1vh;
  padding-bottom: 34.09vh;
  scroll-snap-stop: always;
}

#hell-leave {
  width: var(--leave-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hell-hope-section {
  padding-top: var(--hope-top);
  padding-bottom: calc(70vh - var(--hope-top));
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

#hell-hope {
  width: var(--hope-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
  scroll-padding: 200px;
}

.hell-someone-section {
  padding-top: var(--someone-top);
  padding-bottom: calc(50vh - var(--someone-top));
  scroll-snap-stop: always;
}

#hell-someone {
  width: var(--someone-width);
  margin-top: var(--someone-top);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hell-here-section {
  padding-top: var(--here-top);
  padding-bottom: calc(50vh - var(--here-top));
  scroll-snap-stop: always;
}

#hell-here {
  width: var(--here-width);
  transform: translateX(-2vw);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hell-entering-section {
  padding-top: var(--entering-top);
  padding-bottom: calc(50vh - var(--entering-top));
  scroll-snap-stop: always;
}

#hell-entering {
  width: var(--entering-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* HELL CIRCLES */

.circle-walls {
  height: 100vh;
  display: block;
  margin: 0;
}

.walls {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#first-circle-left {width: 11.46vw;}
#first-circle-right {width: 11.46vw;}

#second-circle-left {width: 14.72vw;}
#second-circle-right {width: 14.72vw;}

#third-circle-left {width: 18.26vw;}
#third-circle-right {width: 18.26vw;}

#fourth-circle-left {width: 21.86vw;}
#fourth-circle-right {width: 21.86vw;}

#fifth-circle-left {width: 25.9vw;}
#fifth-circle-right {width: 25.9vw;}

#sixth-circle-left {width: 28.61vw;}
#sixth-circle-right {width: 28.61vw;}

#seventh-circle-left {width: 31.46vw;}
#seventh-circle-right {width: 31.46vw;}

#eighth-circle-left {width: 35.83vw;}
#eighth-circle-right {width: 35.83vw;}

#nineth-circle-left {width: 38.19vw;}
#nineth-circle-right {width: 38.19vw;}

/* AFTER-HELL */

.after-hell {
  background-color: black;
  height: 200px;
}
