:root {

  /* STARTER */
  --starter-logo-height: 190px;
  --starter-logo-top: 9vh;

  --starter-angel-height: 520px;
  --starter-angel-top: 10.89vh;
  --starter-angel-transform: -230px;

  --starter-goat-height: 260px;
  --starter-goat-transform: 100px;

  --star-height: 60px;
  --star-delay: 0ms;
  --star-delay1: 0ms;
  --star-delay2: 0ms;
  --star-delay3: 0ms;
  --star-delay4: 0ms;
  --star-delay5: 0ms;
  --star-delay6: 0ms;
  --star-delay7: 0ms;
  --star-delay8: 0ms;
  --starter-introtext-width: 570px;

  --starter-dihotomia-height: 285px;
  --starter-moon-height: 221px;
  --starter-boyfriend-height: 218px;
  --starter-dihotomia-top: 170vh;
  --starter-moon-top: 208vh;
  --starter-boyfriend-top: 170vh;

  --starter-button-height: 38px;
  --starter-button-width: 313px;
  --starter-button-fontsize: 24px;

  --starter-tarot-width: 15.92vw;
  --starter-tarot-radius: 15px;

  /* HELL CIRCLES */

  --leave-width: 43.8%;
  --leave-top: 35vh;

  --hope-width: 80.2%;
  --hope-top: 28vh;

  --someone-width: 35.9%;
  --someone-top: 12.5vh;

  --here-width: 54.6%;
  --here-top: 19vh;

  --entering-width: 63.5%;
  --entering-top: 20vh;

  --first-circle-width: 4;
  --first-circle-move: 35%;

  --second-circle-width: 2.4;
  --second-circle-move: 28%;

  --third-circle-width: 1.9;
  --third-circle-move: 23%;

  --fourth-circle-width: 1.65;
  --fourth-circle-move: 19.7%;

  --fifth-circle-width: 1.06;
  --fifth-circle-move: 2.9%;

  --sixth-circle-width: 1.06;
  --sixth-circle-move: 2.8%;

  --seventh-circle-width: 1.06;
  --seventh-circle-move: 2.8%;

  --eighth-circle-width: 1.06;
  --eighth-circle-move: 2.8%;

  --nineth-circle-width: 1.06;
  --nineth-circle-move: 2.8%;
}

@import "reset.css";
@font-face {
  font-family: "Keleti";
  src: url('keleti.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
} */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Keleti', sans-serif;
}

/* STARTER */

.starter {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 266vh;
}

.starter-intro {
  display: block;
}

#starter-logo {
  height: var(--starter-logo-height);
  top: var(--starter-logo-top);
  position: absolute;
  margin: auto;
  left: 20px;
  right: 0;
  text-align: center;
  mix-blend-mode: multiply;
  z-index: 3;
}

#starter-goat {
  height: var(--starter-goat-height);
  top: calc(var(--starter-logo-height) + var(--starter-logo-top) - 4vh);
  transform: translate(var(--starter-goat-transform));
  position: absolute;
  margin: auto;
  left: 20px;
  right: 0;
  text-align: center;
  mix-blend-mode: multiply;
}

#starter-angel {
  height: var(--starter-angel-height);
  top: var(--starter-angel-top);
  transform: translate(var(--starter-angel-transform));
  position: absolute;
  margin: auto;
  left: 20px;
  right: 0;
  text-align: center;
  mix-blend-mode: multiply;
}

.star {
  height: var(--star-height);
  width: calc(var(--star-height) * 0.661);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  animation: shiningStar 3s linear infinite;
  z-index: 101;
}

@keyframes shiningStar {
  50% {
    transform: translateY(-10px);
  }
}

.star path {
  fill: black;
  stroke: black;
  transition: all 0.22s ease-in;
}

.star path:hover {
  fill: #36ffc3;
  stroke: #36ffc3;
}

#starter-star1 {
  right: 835px;
  top: 11vh;
  animation-delay: var(--star-delay1);
}
#starter-star2 {
  left: 480px;
  margin-top: calc(var(--starter-logo-height) + var(--starter-logo-top) - 50px);
  animation-delay: var(--star-delay2);
}
#starter-star3 {
  left: calc(480px + 50px);
  margin-top: calc(var(--starter-logo-height) + var(--starter-logo-top));
  height: 50px;
  animation-delay: var(--star-delay3);
}

#starter-introtext {
  width: var(--starter-introtext-width);
  display: inline-block;
  position: relative;
  top: calc(var(--starter-angel-height) + var(--starter-angel-top) + 20vh);
  left: 50%;
  transform: translateX(calc(var(--starter-introtext-width) / 2 * -1 - 10px));
  font-size: 23px;
  line-height: 28px;

}

#starter-introtext span {
  font-size: 40px;
  line-height: 28px;
}

#starter-tarot-moon {
  height: var(--starter-moon-height);
  position: absolute;
  top: var(--starter-moon-top);
  margin: auto;
  left: 770px;
  right: 0;
  text-align: center;
  mix-blend-mode: multiply;
  z-index: 0;
  transition: opacity 0.3s ease-in;
}
#starter-tarot-dihotomia {
  height: var(--starter-dihotomia-height);
  top: var(--starter-dihotomia-top);
  position: absolute;
  margin: auto;
  left: -780px;
  right: 0;
  text-align: center;
  mix-blend-mode: multiply;
  z-index: 0;
  transition: opacity 0.3s ease-in;
}
#starter-tarot-boyfriend {
  height: var(--starter-boyfriend-height);
  top: var(--starter-boyfriend-top);
  transform: translateY(90px);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  mix-blend-mode: multiply;
  z-index: 10;
  transition: transform 0.4s ease-in-out;
}
#starter-tarot-button {
  width: var(--starter-button-width);
  height: var(--starter-button-height);
  background: none;
  border-radius: 30px;
  font-family: 'Keleti', sans-serif;
  font-size: var(--starter-button-fontsize);
  border: 2px solid black;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 200vh;
  transform: translate(-10px);
  cursor: pointer;
  z-index: 100;
  outline: none;
  opacity: 1;
  transition: opacity 0.2s ease-out, border 0.3s ease-in, color 0.3s ease-in;
}

#starter-tarot-button:hover {
  border: 2px solid blue;
  color: blue;
}

.starter-tarot-cards {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 88vw;
  margin: auto;
  left: 0px;
  right: 0;
  text-align: center;
  top: 201.5vh;
}

#hover-disactivator {
  position: absolute;
  z-index: 80;
  width: 88vw;
  height: calc(var(--starter-tarot-width) * 1.6 * 1.6);
  display: block;
  top: 172vh;
}

.starter-tarot-card {
  width: var(--starter-tarot-width);
  height: calc(var(--starter-tarot-width) * 1.6);
  background-color: #36ffc3;
  border-radius: var(--starter-tarot-radius);
  border: 1px solid white;
  transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1), box-shadow 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition-delay: 0.1s;
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.starter-tarot-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 45px #36ffc3;
  animation: card 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes card {
  100% {
    transform: translateY(-10px);
  }
}

#starter-tarot-card1 {
  transform: translate(23vw, -13.9vh) rotate(-32.65deg)  scale(1.15);
}

#starter-tarot-card2 {
  transform: translate(11vw, -15.9vh) rotate(-18.56deg)  scale(1.15);
}
#starter-tarot-card3 {
  transform: translate(-1vw, -20.4vh) rotate(-0.41deg) scale(1.15);
}
#starter-tarot-card4 {
  transform: translate(-11.5vw, -10.4vh) rotate(14.25deg) scale(1.15);
  z-index: 2;
  position: relative;
}
#starter-tarot-card5 {
  transform: translate(-23vw, -13.4vh) rotate(29.78deg) scale(1.15);
  z-index: 0;
  position: relative;
}
#starter-star4 {
  right: 938px;
  top: 213vh;
  animation-delay: var(--star-delay4);
  height: 80px;
  width: auto;
  transition: opacity 0.25s ease-in;
}
#starter-star5 {
  right: 1010px;
  top: 206vh;
  animation-delay: var(--star-delay5);
  height: 60px;
  width: auto;
  transition: right 0.65s ease-out, top 0.65s ease-out;
}
#starter-star6 {
  right: 620px;
  top: 226vh;
  animation-delay: var(--star-delay6);
  height: 110px;
  width: auto;
  transition: right 0.7s ease-out, top 0.7s ease-out, height 0.8s ease-out;
}
#starter-star7 {
  left: 700px;
  top: 193vh;
  animation-delay: var(--star-delay7);
  height: 80px;
  width: auto;
  transition: left 0.7s ease-out, top 0.7s ease-out;
}
#starter-star8 {
  left: 750px;
  top: 185vh;
  animation-delay: var(--star-delay8);
  height: 60px;
  width: auto;
  transition: top 0.3s ease-out, height 0.3s ease-out;
}
#starter-star9 {
  left: 1122px;
  top: 240vh;
  animation-delay: var(--star-delay9);
  height: 60px;
  width: auto;
  transition: opacity 0.4s ease-out;
  transition-delay: 0.4s;
  opacity: 0;
}

/* HELL */

.hell {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  background-color: red;
  display: block;
}

.hell div {
  scroll-snap-align: start;
}

/* HELL WELCOME SIGN */

.hell-leave-section {
  padding-top: 33.1vh;
  padding-bottom: 34.09vh;
  scroll-snap-stop: always;
}

#hell-leave {
  width: var(--leave-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hell-hope-section {
  padding-top: var(--hope-top);
  padding-bottom: calc(70vh - var(--hope-top));
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

#hell-hope {
  width: var(--hope-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
  scroll-padding: 200px;
}

.hell-someone-section {
  padding-top: var(--someone-top);
  padding-bottom: calc(50vh - var(--someone-top));
  scroll-snap-stop: always;
}

#hell-someone {
  width: var(--someone-width);
  margin-top: var(--someone-top);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hell-here-section {
  padding-top: var(--here-top);
  padding-bottom: calc(50vh - var(--here-top));
  scroll-snap-stop: always;
}

#hell-here {
  width: var(--here-width);
  transform: translateX(-2vw);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hell-entering-section {
  padding-top: var(--entering-top);
  padding-bottom: calc(50vh - var(--entering-top));
  scroll-snap-stop: always;
}

#hell-entering {
  width: var(--entering-width);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* HELL CIRCLES */

.circle-walls {
  height: 100vh;
  display: block;
  margin: 0;
}

.walls {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#first-circle-left {width: 11.46vw;}
#first-circle-right {width: 11.46vw;}

#second-circle-left {width: 14.72vw;}
#second-circle-right {width: 14.72vw;}

#third-circle-left {width: 18.26vw;}
#third-circle-right {width: 18.26vw;}

#fourth-circle-left {width: 21.86vw;}
#fourth-circle-right {width: 21.86vw;}

#fifth-circle-left {width: 25.9vw;}
#fifth-circle-right {width: 25.9vw;}

#sixth-circle-left {width: 28.61vw;}
#sixth-circle-right {width: 28.61vw;}

#seventh-circle-left {width: 31.46vw;}
#seventh-circle-right {width: 31.46vw;}

#eighth-circle-left {width: 35.83vw;}
#eighth-circle-right {width: 35.83vw;}

#nineth-circle-left {width: 38.19vw;}
#nineth-circle-right {width: 38.19vw;}

/* AFTER-HELL */

.after-hell {
  background-color: black;
  height: 200px;
  display: none;
}
